*{
    margin: 0; padding:0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 25% 1fr 200px;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
    font-size: 14px;

    grid-template-areas: 
    "header header header"
    "LeftColumn ContentColumn RightColumn"
    ". ContentColumn RightColumn"
    "footer footer footer";
}

header{
    background-color: #EAEAEA;
    font-size: 23px;
    font-weight: bold;
    height: 60px;
    grid-area: header;
    padding-top: 5px;
    padding-left: 5px;
}

.BigFat{
    font-size: 15px;
}
.Red{
    color:red;
}

.LeftColumn{
    background-color: #C8FC98;
    padding: 5px 7px 7px 9px;
    grid-area: LeftColumn;
}
.RightColumn{
    background-color: #FFFF80;
    padding: 5px 9px 0 9px;
    grid-area: RightColumn;
}
.ContentColumn{
    padding: 5px 7px 0 9px;
    grid-area: ContentColumn;
}

footer{
    background-color: black;
    height: 22px;
    width: 100%;
    text-align: center;
    text-decoration: underline; 
    grid-area: footer;
}
a{
    color: rgb(255, 238, 0);
    font-size: 11px;
}